<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="dependencies/style.css">
        <meta charset="utf-8">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: ["tex2jax.js"],
                jax: ["input/TeX","output/HTML-CSS"],
                tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
            });
        </script>
        <script type="text/javascript" src="dependencies/mathjax/MathJax.js"></script>
        <link rel="stylesheet" href="dependencies/prism/prism.css" data-noprefix />
        <script src="dependencies/prism/prism.js"></script>
    </head>
    <body>
        <div class="main-text">
<!-- MAIN TEXT -->
        </div>
    </body>
</html>